{%extends 'FpvAppMain/layout_main.html'%}

{%block title%}Lessons{%endblock%}

{%block content%}
{%if flag == 0%}
<div class="lessons-main" xmlns="http://www.w3.org/1999/html" style="position:fixed"
     xmlns="http://www.w3.org/1999/html" xmlns="http://www.w3.org/1999/html">

    <div class="lesson_filters">
        {%if filter == 1%}
        <form method="get">
            <div class="name_of_filter">
                <button class="btn btn-dark" style="background-color: black" type="submit" name="remove_filter"
                        value="remove_filter">{{filter_name}}
                </button>
            </div>
        </form>
        {%endif%}
        <div class="find_by_title">
            <div class="find_by_title_title">
                <h5 class="text-light">find by titles</h5>
            </div>
            <form method="get">
                <input class="form-control" name="find_by_title">
                <br>
                <button class="btn btn-warning" type="submit" name="search_by_title" value="search_by_title">search
                </button>
            </form>
        </div>

    </div>
    <div class="topics_main">
        {%for el in model%}
        <div class="topics">
            <form method="get">
                <div class="title">
                    <button class="btn btn-success title_btn" type="submit" name="detail" value="{{el.id}}"
                            style="background-color: transparent; border: none">{{el.tittle}}
                    </button>
                </div>
            </form>
            <div class="date_and_tags">
                <form method="get">
                    <div class="tags">
                        <button class="btn btn-warning tag text-light" id="tag_1" type="submit" name="tag_1" value="{{el.tag_1}}" style="background-color: transparent; border: none">{{el.tag_1}}</button>
                        <button class="btn btn-warning tag text-light" id="tag_2" type="submit" name="tag_2" value="{{el.tag_2}}" style="background-color: transparent; border: none">{{el.tag_2}}</button>
                        <button class="btn btn-warning tag text-light" id="tag_3" type="submit" name="tag_3" value="{{el.tag_3}}" style="background-color: transparent; border: none">{{el.tag_3}}</button>
                        <button class="btn btn-warning tag text-light" id="tag_4" type="submit" name="tag_4" value="{{el.tag_4}}" style="background-color: transparent; border: none">{{el.tag_4}}</button>
                        <button class="btn btn-warning tag text-light" id="tag_5" type="submit" name="tag_5" value="{{el.tag_5}}" style="background-color: transparent; border: none">{{el.tag_5}}</button>
                    </div>
                </form>
                <div class="date">
                    <h5 class="text-light">{{el.add_date}}</h5>
                </div>
            </div>
        </div>
        </br>
        {%endfor%}
    </div>
</div>
{%else%}
<div class="container-fluid like_and_author">
    <div class="author">
        <p class="text-light">author: {{model.0.author}}</p>
    </div>
    <div class="like_main">
        <form method="get">
            <div class="like">
                <button id="btn_like" style="background: transparent; border:none" name="like"
                        value="{{model.0.like}} {{model.0.id}}"
                        type="submit"><i
                        class="fa-solid fa-heart text-success"></i>
                </button>
                <div class="round_like" onclick="like()">
                    <span id="like">{{model.0.like}}</span>
                </div>

            </div>
        </form>

        <form method="get">
            <div class="dislike">
                <button id="btn_dislike" style="background: transparent; border:none" type="submit"
                        value="{{model.0.dislike}} {{model.0.id}}" name="dislike"><i
                        class="fa-solid fa-thumbs-down text-danger"></i></button>
                <div class="round_dislike">
                    <span id="dislike">{{model.0.dislike}}</span>
                </div>
            </div>
        </form>


        {%if user == current_user%}
        <div class="rewrite">
            <button name="rewrite" class="text-light" style="background: transparent;  border:none"><i
                    class="fa-solid fa-pen-to-square" data-toggle="modal" data-target="#rewrite"></i></button>
        </div>
        {%endif%}
    </div>

</div>
<div class="container-fluid detail_container">
    <br>
    <div class="detail_title">
        <h5 class="text-light">{{model.0.tittle}}</h5>
    </div>
    <br>
    {%if model.0.video != '' %}
    <div class="detail_video">
        <video width="800px" height="400px" controls>
            <source src="media/{{model.0.video}}" type="video/mp4">
        </video>
    </div>
    {%endif%}
    <br>
    {%if model.0.pic != ''%}
    <div class="detail_pic">
        <img src="media/{{model.0.pic}}" width="800px" height="400px" loading="lazy">
    </div>
    {%endif%}
    <br>
    {%if model.0.text != None %}
    <div class="container detail-text">
        <p class="text-light">{{model.0.text}}</p>
    </div>
    {%endif%}
    {%if model.0.pic_1 != ''%}
    <div class="detail_pic">
        <img src="media/{{model.0.pic_1}}" width="800px" height="400px" loading="lazy">
    </div>
    {%endif%}
    <br>
    {%if model.0.text_1 != None%}
    <div class="container detail-text">
        <p class="text-light">{{model.0.text_1}}</p>
    </div>
    {%endif%}

    {%if model.0.pic_2 != ''%}
    <div class="detail_pic">
        <img src="media/{{model.0.pic_2}}" width="800px" height="400px" loading="lazy">
    </div>
    {%endif%}
    <br>
    {%if model.0.text_2 != None%}
    <div class="container detail-text">
        <p class="text-light">{{model.0.text_2}}</p>
    </div>
    {%endif%}

    {%if model.0.pic_3 != ''%}
    <div class="detail_pic">
        <img src="media/{{model.0.pic_3}}" width="800px" height="400px" loading="lazy">
    </div>
    {%endif%}
    <br>
    {%if model.0.text_3 != None%}
    <div class="container detail-text">
        <p class="text-light">{{model.0.text_3}}</p>
    </div>
    {%endif%}


    {%if model.0.pic_4 != ''%}
    <div class="detail_pic">
        <img src="media/{{model.0.pic_4}}" width="800px" height="400px" loading="lazy">
    </div>
    {%endif%}
    <br>
    {%if model.0.text_4 != None%}
    <div class="container detail-text">
        <p>{{model.0.text_4}}</p>
    </div>
    {%endif%}
    <button class="btn btn-warning text-light" style="background-color: transparent; border: none" onclick="comments()">
        Comments <i class="fa-solid fa-arrow-down" id="arrow_down"></i> <i class="fa-solid fa-arrow-up" id="arrow_up"
                                                                           style="display:none"></i></button>
    <br>
    <div class="container comments_container" id="comments_container" style="display: none">
        <form method="post">
            {%csrf_token%}
            <div class="create_comments">
                <label for="create_comment" class="text-light">Create comment</label>
                <textarea class="form_control comments_text" name="comment_text" placeholder="create comment"
                          id="create_comment">
            </textarea>
                <br>
                <button class="btn btn-success" style="background-color: transparent" type="submit" name="comment_btn"
                        value="{{model.0.id}}">
                    create comment
                </button>
                <br>
            </div>
        </form>
        <form method="post">
            {%csrf_token%}
            <div class="all_comments">
                {%for el in all_comments%}
                <div class="comment" style="width: 70%">
                    <p class="text_light">{{model.o.id}}</p>
                    <h1 class="text-light" style="display: flex; justify-content: center">{{el.user}}</h1>
                    <div class="comment_text" style="padding: 3%">
                        {% if el.respond_text != 'default' %}
                        <div style="background-color: #7c8573; padding:1%">
                            <h5 class="text-light" style="display: flex; justify-content: center">{{el.user}}</h5>
                            <strong class="text-light">{{el.text_of_comment}}</strong>
                            <h5 class="text-light" style="display: flex; justify-content: end">
                                {{el.date_of_comment}}</h5>
                        </div>
                        <br>
                        <p class="text-light">{{el.respond_text}}</p>
                        {%elif el.respond_text == 'default' %}
                        <p class="text-light">{{el.text_of_comment}}</p>
                        {%endif%}
                    </div>
                    <div class="comments_date" style="display: flex; justify-content: end">
                        <div class="button_and_date">
                            {%if el.respond_text != 'default'%}
                            <button class="btn btn-danger" type="submit" name="respond_comment" value="{{el.id}}"
                                    style="background-color: transparent; border: none"><i
                                    class="fa-solid fa-reply"></i></button>
                            {%endif%}
                            <h5 class="text-light">{{el.date_of_comment}}</h5>
                        </div>
                    </div>
                </div>
                <br>
                {%endfor%}
            </div>
        </form>
    </div>
</div>

<div class="modal" tabindex="-1" role="dialog" id="rewrite">
    <div class="modal-dialog modal-xl" role="document">
        <div class="modal-content" style="background-color: black;">
            <div class="modal-header">
                <h5 class="modal-title text-light">Modal title</h5>
                <button type="button" class="close text-danger" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            {%for el in model%}
            <div class="modal-body">

                <div class="rewrite_title">
                    <p class="text-light">title: {{el.title}}</p>
                    <input name="rewrite_title" type="text" class="form-control" placeholder="rewrite title">
                </div>
                <form method="post" enctype="multipart/form-data">
                    {%csrf_token%}
                    <div class="rewrite_pic_main">
                        <div class="rewrite_pic">
                            {%if el.pic != ''%}
                            <img src="media/{{el.pic}}" width="200px" height="200px">
                            <input type="file" name="rewrite_pic_0">
                            {%endif%}
                            {%if el.pic == ''%}
                            <input type="file" name="rewrite_pic_0">
                            {%endif%}
                        </div>


                        <div class="rewrite_pic_1">
                            {%if el.pic_1 != ''%}
                            <img src="media/{{el.pic_1}}" width="200px" height="200px">
                            <input type="file" name="rewrite_pic_1">
                            {%endif%}
                            {%if el.pic_1 == ''%}
                            <input type="file" name="rewrite_pic_1">
                            {%endif%}

                        </div>


                        <div class="rewrite_pic_2">
                            {%if el.pic_2 != ''%}
                            <img src="media/{{el.pic_2}}" width="200px" height="200px">
                            <input type="file" name="rewrite_pic_2">
                            {%endif%}
                            {%if el.pic_2 == ''%}
                            <input type="file" name="rewrite_pic_2">
                            {%endif%}
                        </div>


                        <div class="rewrite_pic_3">
                            {%if el.pic_3 != ''%}
                            <img src="media/{{el.pic_3}}" width="200px" height="200px">
                            <input type="file" name="rewrite_pic_3">
                            {%endif%}
                            {%if el.pic_3 == ''%}
                            <input type="file" name="rewrite_pic_3">
                            {%endif%}

                        </div>


                        <div class="rewrite_pic_4">
                            {%if el.pic_4 != ''%}
                            <img src="media/{{el.pic_4}}" width="200px" height="200px">
                            <input type="file" name="rewrite_pic_4">
                            {%endif%}
                            {%if el.pic_4 == ''%}
                            <input type="file" name="rewrite_pic_4">
                            {%endif%}
                        </div>
                        <br>
                        <button class="btn btn-success" name="rewrite_photo" type="submit" value="{{el.id}}"
                                style="width: 100%; background-color: transparent;">rewrite_photo
                        </button>
                    </div>
                </form>
                <br>
                <form method="post" enctype="multipart/form-data">
                    {%csrf_token%}
                    <div class="rewrite_video">
                        {%if el.video != ''%}
                        <video width="200px" height="200px" controls>
                            <source src="media/{{el.video}}" type="video/mp4">
                        </video>
                        {%endif%}
                        <input type="file" name="rewrite_video">
                        <br>
                        <button type="submit" style="width: 100%; background-color: transparent" class="btn btn-success"
                                name="rewrite_video_btn" value="{{el.id}}">rewrite video
                        </button>
                    </div>
                </form>


                <div class="rewrite_text_main">
                    <div class="rewrite_text">
                        <p>{{el.text}}</p>
                        <textarea rows="3" class="form-control" name="rewrite_text" placeholder="text_1"></textarea>
                    </div>
                    <div class="rewrite_text_1">
                        <p>{{el.text_1}}</p>
                        <textarea rows="3" class="form-control" name="rewrite_text_1" placeholder="text_2"></textarea>
                    </div>
                    <div class="rewrite_text_2">
                        <p>{{el.text_2}}</p>
                        <textarea rows="3" class="form-control" name="rewrite_text_2" placeholder="text_3"></textarea>
                    </div>
                    <div class="rewrite_text_3">
                        <p>{{el.text_3}}</p>
                        <textarea rows="3" class="form-control" name="rewrite_text_3" placeholder="text_4"></textarea>
                    </div>

                    <div class="rewrite_text_4">
                        <p>{{el.text_4}}</p>
                        <textarea rows="3" class="form-control" name="rewrite_text_4" placeholder="text_5"></textarea>
                    </div>
                </div>

            </div>
            <div class="modal-footer">
                <button class="btn btn-primary" name="rewrite_article" value="{{el.id}}">Save
                    changes
                </button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
            {%endfor%}
        </div>
    </div>
</div>
{%endif%}

{%if letters_status == 1%}
<script>
        $('#letters').modal('show')









</script>
{%endif%}

<script src="/static/FpvAppMain/js/lessons_page.js"></script>
{%endblock%}
