{%extends 'FpvAppMain/layout_main.html'%}

{%block title%}Main Page{%endblock%}

{%block content%}
<div class="main_block_cls" id="main_block_cls">
    <div class="first_slide" onmouseover="first_slide()">
        <div class="dark">
            <h1 class="text-light">Start you career here with us!</h1>
        </div>
        <div class="map_and_animation">
            <div class="light">
                <div class="bomb_top">
                    <i class="fa-solid fa-bomb" style=" font-size: 25px"></i>
                    <br>
                    <i class="fa-solid fa-bomb" style=" font-size: 23px"></i>
                    <br>
                    <i class="fa-solid fa-bomb" style=" font-size: 28px"></i>
                    <br>
                    <i class="fa-solid fa-bomb" style=" font-size: 21px"></i>
                </div>
                <div class="img_class" style="z-index: 1">
                    <img src="http://127.0.0.1:8000/static/FpvAppMain/img/drone_1.png" width="100%">
                </div>
                <br>
                <div class="bomb_button">
                    <i class="fa-solid fa-bomb" style="font-size: 30px"></i>
                    <i class="fa-solid fa-bomb" style="font-size: 38px"></i>
                    <i class="fa-solid fa-bomb" style="font-size: 25px"></i>
                    <i class="fa-solid fa-bomb" style="font-size: 45px"></i>
                    <i class="fa-solid fa-bomb" style="font-size: 32px"></i>
                </div>
            </div>

            <div class="map_and_data">
                <div id="map"></div>
                <div>
                    <span class="text-warning">ip: <p class="text-light" id="api_data_ip">{{api_data.ip}}</p></span>
                    <span class="text-warning">location: <p class="text-light"
                                                            id="api_data_loc">{{api_data.loc}}</p></span>
                    <span class="text-warning" id="city">city: <p class="text-light">{{api_data.city}}</p></span>
                    <span class="text-warning" id="api_data_country">country: <p
                            class="text-light">{{api_data.country}}</p></span>
                    <span class="text-warning">region: <p class="text-light">{{api_data.region}}</p></span>
                    <span class="text-warning">org: <p class="text-light">{{api_data.org}}</p></span>
                </div>
            </div>
        </div>

    </div>
    <div class="second_slide" id="second_slide">
        <div id="second_text">
            <h1 class="text-light"></h1>
        </div>
        <div class="playing">
            <div class="first_cube">
                <img src="http://127.0.0.1:8000/static/FpvAppMain/img/DeepSixDrone_1.jpeg" width="200px" height="197px"
                     onclick="first_cube()">
            </div>
            <div class="second_cube">
                <img src="http://127.0.0.1:8000/static/FpvAppMain/img/Mavic.webp" width="200px" height="197px"
                     onclick="second_cube()">
            </div>
            <div class="third_cube">
                <img src="http://127.0.0.1:8000/static/FpvAppMain/img/war_drone.webp" width="200px" height="197px"
                     onclick="third_cube()">
            </div>
            <div class="four_cube">
                <img src="http://127.0.0.1:8000/static/FpvAppMain/img/war_drone_2.webp" width="200px" height="197px"
                     onclick="four_cube()">
            </div>
            <div class="fifth_cube">
                <img src="http://127.0.0.1:8000/static/FpvAppMain/img/war_drone_3.jpeg" width="200px" height="197px"
                     onclick="fifth_cube()">
            </div>
        </div>

    </div>
</div>
{%endblock%}