body {background-color: black;

}

.navbar-collapse {display: flex;
                  justify-content: space-between}

#menu_btn {
           display: none;
}

.nav-link:hover {
                 box-shadow: 2px 3px 3px yellow;
                 border-radius: 95%;
                 transform: scale(1.1);
                 transition-duration: .8s;
                 }


/*login form*/

.container {
                 height: 95vh;
                 width: 100%;

                 display: flex;
                 justify-content: center;
                 align-items: center;

                 }

.login_form {width: 100%;
             border: 3px solid black;
             padding: 3%
            }

.login_form button{width: 100%;}

/*==============================*/

/* modal articles settings */
.modal-body {height: 55vh;
             overflow: auto;}
.pic_div {display: flex;
         flex-direction: column
         }

.pic_block_1 {display: flex;
              flex-direction: row;
              justify-content: space-around;}

.pic_block_2 {display: flex;
              flex-direction: row;
              justify-content: space-around;}

.pic {display: flex;
      flex-direction: column}

.pic_1 {display: flex;
      flex-direction: column}

.pic_2 {display: flex;
      flex-direction: column}

.pic_3 {display: flex;
      flex-direction: column}

.pic_block_3 {display: flex;
              flex-direction: row;
              justify-content: space-around;}

.pic_4 {display: flex;
      flex-direction: column}

.pic_5 {display: flex;
      flex-direction: column}
/*=========================*/

/* comments_container */
#comment_btn:hover {
    border: none;
    box-shadow: 2px 2px 4px yellow;
    border-radius: 95%;
    font-size: 18px
}

.comments_container {width: 100%;}
.create_comments {width: 100%;
                 display: flex;
                 flex-direction: column;
                 justify-content: center;

}

.comment {width: 70%;}

.comments_text {width: 100%}
.comment {border-bottom: 1px solid #fff;
          }

.comments_date {
                display: flex:
                justify-content: end;

}

.response_div {
               display: flex;
               flex-direction: column;
}

.button_and_date {
                  display: flex;
                  flex-direction: row;
                  justify-content:space-between;
                  width: 35%;
                  padding-bottom: 3%;

}

#respond_open:hover {
        box-shadow: 1px 1px 2px yellow;
        border-radius: 95%;
        transform: scale(1.2);
        width: 10%;

}

/* ================== */

/* lessons page css set */

.detail_pic {display: flex;
             justify-content: center;
             }
.detail_pic img {width: 800px;
                 height: 400px;
}
.create_comments {width: 90%;}

.detail_pic:hover {
                   transform: scale(1.3);
                   transition-duration: 1.5s;
                   box-shadow: 5px 5px 10px red;
}

.lessons-main {
               width: 100%;
               height: 90vh;
               display: flex;
               flex-direction: row;
                   }

.lesson_filters {width: 30%;
                 height: 90vh;
                 overflow: auto;
                 filter: drop-shadow(16px 16px 20px red);
                 padding: 2%;
                    }
.find_by_title {border-bottom: 1px solid yellow;
                padding: 20px;
                }
.find_by_title button {width: 100%;}

.find_by_title_title{display: flex;
                     justify-content: center;
                     padding: 10px;
                    }


.topics_main  {width: 90%;
               height: 90vh;
               overflow: auto;
               padding: 2%;

               }
.topics {

         height: 20vh;
         box-shadow: 10px 5px 5px yellow;
         padding: 2%;
         border-radius: 3%;
}

.title {display: flex;
        justify-content: center;
        }

.title_btn:hover {transform: scale(1.5);
                  transition-duration: 1s;
}

.date_and_tags {
                display: flex;
                justify-content: space-between;
                padding: 2%;
}

/*.date_pos {display: flex;
          justify-content: end;
          } */
/* =========================*/

/*letters settings */
.modal_letters {display: flex;
         flex-direction: row;
         justify-content: space-between;
         padding: 1%;
         width: 100%;

         }

.unread {width: 48%;
         height: 45vh;
         overflow: auto;}

.send_and_write {width: 48%;}

.write {
        }
.round {background-color: orange;
        width: 14px;
        height: 14px;
        border-radius: 50%;
        position: relative;
        right: 15px;
        top: 5px;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 11px;
        }
/* */

/*detail_container conf*/
.detail_container{border-left: 3px solid #fff;
                  border-right: 3px solid #fff;
                  height: 95vh;
                  width: 90%;
                  overflow: auto;
                  display: flex;
                  flex-direction: column;}

.detail_title {width: 100%;
               display: flex;
               justify-content: center;
                }
.detail_video {width: 100%;
               display: flex;
               justify-content: center;
                }

#rewrite_video_btn:hover {

                          transform: scale(1.1);
                          transition-duration: 1s;
}
/*===========================*/

/* settings for like, author and dislike on lessons page */
.like_and_author {
                  width: 90%;
                  display: flex;
                  flex-direction: row;
                  padding-top: 1%;
                  border-left: 3px solid #fff;
                  border-right: 3px solid #fff;

}

.like_main {
            display: flex;
            flex-direction: row;
            width: 5%;
            justify-content: space-between;
            padding-left: 1%;

}
.round_like {
             width: 14px;
             height: 14px;
             border-radius: 50%;
             background-color: orange;
             position: relative;
             top: -27px;
             left: 10px;
             font-size: 11px;
             display: flex;
             justify-content: center;
}

.round_dislike {
          width: 14px;
          height: 14px;
          border-radius: 50%;
          background-color: orange;
          position: relative;
          top: -27px;
          left: 10px;
          font-size: 11px;
          display: flex;
          justify-content: center;
}
/* ======================== */


/* settings for article modal */
.choosing_tags {
                width: 100%;
                display: flex;
                justify-content: space-around;
                flex-direction: row;
                flex-wrap: wrap;
}

#tag_1:hover{
              transform: scale(1.5);
              transition-duration: 1s;
              color: red;
              }
/* ========================*/

/* style for main page */
.main_block_cls {
             width: 100%;
             height: 95vh;
             overflow: auto;

}

.first_slide {display: flex;
              flex-direction: column;
              height:95vh;
              }

.second_slide {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: end;
    align-items: flex-end;
    height:95vh;
    position: relative;
    animation-name: photos;
    animation-duration: 3s;
}


.third_slide {
             width: 100%;
             height: 95vh;
             display: flex;
             justify-content: center;
             align-items: center;
}


.dark {
       width: 100%;
       display: flex;
       justify-content: center;

}

.light {
        width: 60%;
        height: 35vh;
        text-align: -webkit-center;
}

.img_class {
    position:relative;
    z-index: 1;
}
.bomb_top {width: 55%;
           display: flex;
           flex-wrap: wrap;
           justify-content: space-around;
           position:relative;
           z-index: 2;
           animation-duration: 6s;
           animation-name: bomb_on_top;
           animation-timing-function: linear;
           color: pink;
           animation-iteration-count: infinite;

           }

.bomb_button {
               width: 55%;
               display: flex;
               justify-content: space-around;
               color: red;
               position: relative;
               animation-name: bomb_on_buttom;
               animation-duration: 1s;
               animation-timing-function: linear;
               animation-iteration-count: infinite;

}


.playing {
          width: 40%;
          display: flex;
          flex-direction: row;
          overflow: auto;
          height: 300px;
          overflow: auto;
          padding-left: 50px;

          }

.first_cube {
  width: 200px;
  height: 200px;
  margin-right: 20px;

}

.first_cube:hover {
       transform: scale(1.1);
       transition-duration: 1s;
}

.second_cube {
    width: 200px;
    height: 200px;
    margin-right: 20px;
}

.second_cube:hover {
       transform: scale(1.1);
       transition-duration: 1s;
}

.third_cube {
        width: 200px;
        height: 200px;
        margin-right: 20px;

}

.four_cube {
        width: 200px;
        height: 200px;
        margin-right: 20px;
}


.fifth_cube {
            width: 200px;
            height: 200px;
            margin-right: 20px;

}
#second_text{
              display: none;



}

@keyframes  bomb_on_top {
    0%{
    top: 0%;
    }
    10% {
    top: 15%
    }
    30% {
    top: 25%;
    color: orange;
    }
    50% {
    top: 35%
    }
    70 {
    top: 45%;
    color: red;
    }
    90%{
    top: 65%;
    color: red;
    }
    100%{
    top: 0%;
    }

}


@keyframes  bomb_on_buttom {
        0%{
    top: 0%;
    }
    10% {
    left: 10px;
    }
    30% {
    right: 20px;
    }
    50% {
    top: 10px;
    }
    70 {
    bottom: 20px;
    }
    90%{
    left: 10px;
    top: 10px;
    right: 10px;
    bottom: 10px;
    }
    100%{
    left: 0%;
    top: 0%;
    right: 0%;
    bottom: 0%;
    }

}




@media screen and (max-width: 430px) {
  .detail_video video{width: 350px}

  .detail_video {width: 400px}
  .detail_pic img{width: 350px}



 .detail_container {
   border-left: none;
   border-right: none;
   height: 95vh;
   width: 100%;
   overflow: auto;
   display: flex;
   flex-direction: column;
 }

 .like_and_author {
                   border: none
 }



 .comment_btn {width: 40%}

 #menu_btn {
            display: block;
 }


 .topics_main {
               position: fixed;
               width: 100%;

 }

 .lesson_filters {
                  position: relative;
                  width: 100%;
                  z-index: 2;
                  left: -450px;
                  height: 25vh;
                  filter: drop-shadow(16px 16px 20px red) invert(75%);

 }


 .button_and_date {
                   width: 45%:
 }

 #comment_btn  {width: 100%}

 .all_comments {width: 100%}

 .comment {width: 100%}

 .comment h1{
             font-size:15px
 }

 .comment_text strong{
                      font-size:12px;
 }

 .comment_text h5 {
                    font-size: 10px;
 }

 .button_and_date h5{
                  font-size: 10px;

 }

 .comments_container {
                      display: flex;
                      justify-content: center;
 }

}


@keyframes  show_text_first {
    0%{
    top: -500px
    }
    100% {
    top: 0px
    }

}


@keyframes  show_text_second {
    0%{
    bottom: -500px
    }
    100% {
    bottom: 0px
    }

}

@keyframes  show_text_third {
    0%{
    right: -500px
    }
    100% {
    right: 0px
    }

}


@keyframes photos {
    0%{
    left: -1500px
    }
    100% {
    left: 0%
    }

}

}
/* ================== */

